In [3]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']
books = ['aaa', 'bbb', 'ccc', 'ddd']
def split_title_and_name(person, book):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {} write {}'.format(title, lastname, book)

list(map(split_title_and_name, people, books))
# built-in map can be passed multiple iterable objects
# try map(split_title_and_name, people)
# it doesn't return list for it's lazy computation

['Dr. Brooks write aaa',
 'Dr. Collins-Thompson write bbb',
 'Dr. Vydiswaran write ccc',
 'Dr. Romero write ddd']

In [10]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

In [12]:
(lambda person: person.split()[0]+' '+ person.split()[-1])(people)

AttributeError: 'list' object has no attribute 'split'

In [14]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [j*i for i in range(10) for j in range(10)]

True

In [19]:
# create a list of all possible user id in the format 2 letters 
# forllowde by 2 numbers, like(aa98)

lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]
print(len(correct_answer))
correct_answer[:5] # Display first 50 ids

67600

['aa00', 'aa01', 'aa02', 'aa03', 'aa04']

In [2]:
import pandas as pd
pd.date_range('2012-01-01', '2012-03-01', freq='4h')

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 04:00:00',
               '2012-01-01 08:00:00', '2012-01-01 12:00:00',
               '2012-01-01 16:00:00', '2012-01-01 20:00:00',
               '2012-01-02 00:00:00', '2012-01-02 04:00:00',
               '2012-01-02 08:00:00', '2012-01-02 12:00:00',
               ...
               '2012-02-28 12:00:00', '2012-02-28 16:00:00',
               '2012-02-28 20:00:00', '2012-02-29 00:00:00',
               '2012-02-29 04:00:00', '2012-02-29 08:00:00',
               '2012-02-29 12:00:00', '2012-02-29 16:00:00',
               '2012-02-29 20:00:00', '2012-03-01 00:00:00'],
              dtype='datetime64[ns]', length=361, freq='4H')